.resource-registry{
    margin:auto;
    background-color: #efefef;
}

.resource-registry__form{
    margin-top: 3.125px;
    margin-right: var(--margin-left-right-resource-registry-form);
    margin-left: var(--margin-left-right-resource-registry-form);
    background-color: white;
    --margin-left-right-resource-registry-form: 12.5rem;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.button-container {
    height: 150px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button-center {
    width: 50%;
    float: center;
    padding: 20px;
}


  .resource-registry__sector-field{
    padding: 20px;
  }
  
  .resource-registry__submit-button{
    margin: auto;
    width: 116px;
    height:450px;
  }

  .question-icon {
    margin-left: 5px;
  }
