@using Altinn.AccessManagement.Core.Configuration;
@inject Microsoft.Extensions.Options.IOptions<GeneralSettings> generalSettings
@{
    var options = generalSettings.Value;
}

<!DOCTYPE html>
<html lang="no" style="background-color: #1EADF7;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Altinn API Delegering">
    <meta name="keywords" content="Altinn Profil API Delegering">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" type="text/css" href="https://altinncdn.no/fonts/altinn-din/woff2/Altinn-DIN-Bold.woff2" />
    <link rel="stylesheet" type="text/css" href="https://altinncdn.no/fonts/altinn-din/woff2/Altinn-DIN.woff2" />
    <link rel="stylesheet" type="text/css" href="@(options.FrontendBaseUrl)assets/entrypoint-08bb1510.css" />
    <title>Profil</title>
</head>
<body>
    <div id="root"></div>
    <script type="module" src="@(options.FrontendBaseUrl)assets/entrypoint-2f8c58c3.js"></script>
</body>
</html>