.deleteSection {
    display: flex;
    align-items: center;
}

.listItem {
    display: flex;
    margin: 0.3rem;
}

.itemText {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.itemText--soft-delete {
    text-decoration: line-through;
    opacity: 70%;
}