<html>
    <head>
        <script type="module" crossorigin src="/AuthorizationAdmin/authorization.js"></script>
        <link rel="stylesheet" href="/AuthorizationAdmin/authorization.css">
    </head>
    <body>
          <div id="altinn3-root"></div>
    </body>
</html>




  